# for our beloved clangd users

BasedOnStyle: Google
#NamespaceIndentation: All
NamespaceIndentation: None
CommentPragmas: "^"
FixNamespaceComments: true
SortIncludes: false
IncludeBlocks: Preserve
IndentAccessModifiers: false
BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4

AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

IndentWidth: 4
ColumnLimit: 0
AccessModifierOffset: -4

AlignAfterOpenBracket: Align
#AlignAfterOpenBracket: DontAlign
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: true

BreakBeforeBraces: Attach
PointerAlignment: Left
SpaceAroundPointerQualifiers: Default
